* {
  margin: 0;
  padding: 1;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  cursor: url(http://www.rw-designer.com/cursor-view/106419-48.png), auto !important;
}
body,
html {
  height: 100%;
  background-image: url('img/bg.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  border: 3px solid #005288;
  width: 300;
  margin-top: 150;
  padding: 10;
  border-radius: 15px;
  box-shadow: 0 20px 50px #a7a9ac;
  transition: all 0.6s ease-in-out;
  background-color: rgb(238, 235, 235);
}
.card .img {
  width: 70%;
  border-radius: 50%;
}
.card:hover {
  transform: scale(1.1);
}
.img {
  width: 70%;
  border-radius: 15px;
  background-color: #005288;
}

.h2 {
  text-align: justify;
}

.p {
  color: rgb(1, 2, 2);
  text-align: justify;
}
