<html>
  <head>
    <title>Creating Blog Page - detail</title>
    <link rel='stylesheet' href='/public/style.css' />
  </head>
  <body>
    <!-- NavBar -->
    <nav
      class='navbar navbar-expand-lg navbar-light bg-light shadow-sm p-3 mb-3 rounded'
    >
      <div class='container'>

        <a class='navbar-brand me-5' href='/'>
          <img src='public/assets/logo.png' />
        </a>

        <button
          class='navbar-toggler'
          type='button'
          data-bs-toggle='collapse'
          data-bs-target='navbarSupportedContent'
          aria-controls='navbarSupportedContent'
          aria-expanded='true'
          aria-label='Toggle navigation'
        >
          <span class='navbar-toggler-icon'></span>
        </button>

        <div class='collapse navbar-collapse' id='navbarSupportedContent'>

          <ul class='navbar-nav me-auto mb-2 mb-lg-0'>
            <li class='nav-item'>
              <a
                class='nav-link active text-orange'
                aria-current='page'
                href='/'
              >Home</a>
            </li>
            <li class='nav-item'>
              <a class='nav-link' aria-current='page' href='/blog'>Blog</a>
            </li>
          </ul>

          <a href='/contact-me' class='btn btn-orange text-white px-4'>Contact
            Me</a>
        </div>

      </div>
    </nav>

    <!-- Blog -->
    <div class='blog-detail'>
      <div class='blog-detail-container'>
        <h1>Pasar Coding di Indonesia Dinilai Masih Menjanjikan | {{id}}</h1>
        <div class='author'>12 Jul 2021 22:30 WIB | Ichsan Emrald Alamsyah</div>
        <img src='/public/assets/blog-img-detail.png' alt='detail' />
        <p>
          REPUBLIKA.CO.ID, JAKARTA -- Ketimpangan sumber daya manusia (SDM) di
          sektor digital masih menjadi isu yang belum terpecahkan. Berdasarkan
          penelitian ManpowerGroup, ketimpangan SDM global, termasuk Indonesia,
          meningkat dua kali lipat dalam satu dekade terakhir. Khusus di sektor
          teknologi yang berkembang pesat, menurut Kemendikbudristek, Indonesia
          kekurangan sembilan juta pekerja teknologi hingga tahun 2030. Hal itu
          berarti Indonesia memerlukan sekitar 600 ribu SDM digital yang
          memasuki pasar setiap tahunnya.
        </p>
      </div>
    </div>
  </body>
</html>